<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'"/>
    <title>Launcher de Etternal</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <script>require('popper.js')</script>
    <script>require('bootstrap')</script>
    <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            /*background: url('assets/images/backgrounds/<%=bkid%>.jpg') no-repeat center center fixed;*/
            transition: background-image 1s ease;
            background: #333;
            -webkit-user-select: none;
        }
        #sidemain, #fullmain {
            display: none;
            height: calc(100% - 22px);
            /* background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); */
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #sidemain[overlay], #fullmain[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
        
        #secondmain{
            display: block;
            height: calc(100% - 22px);
            background: #111;
            width: 100%;
            position: absolute;
            z-index: 20;
        }
    </style>
</head>
<body>
    <% include frame.ejs %>
    <div id="fullmain" style="display:none;">
        <% include login.ejs %>
    </div>
    <div id="sidemain" style="display:none;">
        <% include sidebar.ejs %>
        <% include landing.ejs %>
        <% include store.ejs %>
        <% include settings.ejs %>
    </div>
    <% include overlay.ejs %>
    <div id="loadingContainer">
        <div class="loading-pulse"></div>
    </div>
</body>
</html>