<div id="loginContainer" style="display: none;">
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText">Cancelar</span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <!--<img id="loginImageSeal" src="assets/images/SealCircle.png"/>-->
            <span id="loginSubheader">INGRESO CON CUENTA ETTERNAL</span>
            <div class="loginFieldContainer">
                <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                  })
                </script>
                <label for="loginUsername" class="logintext">Correo electrónico <a href="https://cuenta.etternal.red/" class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="¿Tu cuenta no tiene correo?"></a></label> 
                <span class="loginErrorSpan" id="loginEmailError">* Valor Invalido</span>
                <input id="loginUsername" class="form-control loginField" type="text"/>
            </div>
            <div class="loginFieldContainer">
                <label for="loginPassword" class="logintext">Contraseña <a href="https://cuenta.etternal.red/auth/forgot/" class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="¿No recuerdas tu contraseña?"></a></label>
                <span class="loginErrorSpan" id="loginPasswordError">* Requerido</span>
                <input id="loginPassword" class="form-control loginField" type="password"/>
                <div id="loginOptions">
                    <label id="checkmarkContainer">
                        <input id="loginRememberOption" type="checkbox" checked>
                        <span id="loginRememberText" class="loginSpanDim">Recuerdame</span>
                        <span class="loginCheckmark"></span>
                    </label>
                </div>
            </div>
            <button id="loginButton" class="btn" disabled>
                <div id="loginButtonContent">
                    INICIAR SESIÓN
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                    <!--<div class="spinningCircle" id="loginSpinner"></div>-->
                </div>
            </button>
            <div id="loginDisclaimer">
                <span class="loginSpanDim" id="loginRegisterSpan">
                    <a href="https://cuenta.etternal.red/auth/register/">Crear nueva cuenta</a>
                </span>
                <p class="loginsubtext">Nosotros no estamos afiliados a Mojang.</p>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>