
<div id="sidebar_menu">
    <div class="py-2 w-100">
        <div id="user_content">
            <div id="khiniaestuvoaqui">
                <div id="avatarContainer"><!--<button id="avatarOverlay">Editar</button>-->
                </div>
            </div>
            <span class="text-uppercase" id="user_text">Usuario</span>
        </div>
    </div>
    <div class="menu_item active_item text-white menu_hoveable" id="sidebar_index">
        <div class="menu_container">
            <i class="fas fa-gamepad"></i>
            <span class="menu_text">Jugar</span>
        </div>
    </div>
    <div class="menu_item" data-toggle="tooltip" data-placement="right" title="No implementado">
        <div class="menu_container">
            <i class="fas fa-dungeon"></i>
            <span class="menu_text text-secondary">Mazmorras</span>
        </div>
    </div>
    <div class="menu_item" data-toggle="tooltip" data-placement="right" title="No implementado">
        <div class="menu_container">
            <i class="fas fa-users"></i>
            <span class="menu_text text-secondary">Social</span>
        </div>
    </div>
    <div class="menu_item active_item text-white menu_hoveable" id="sidebar_store">
        <div class="menu_container">
            <i class="fas fa-store"></i>
            <span class="menu_text">Tienda</span>
        </div>
    </div>
    <div class="menu_item active_item text-white menu_hoveable" id="sidebar_config">
        <div class="menu_container">
            <i class="fas fa-cog"></i>
            <span class="menu_text">Configuración</span>
        </div>
    </div>
    <div class="bottom_item">
        <div id="server_status_wrapper m-auto">
            <span class="bot_label" id="landingPlayerLabel">SERVIDOR</span>
            <span id="player_count">APAGADO</span>
        </div>
    </div>
    <script src="./assets/js/scripts/sidebar.js"></script>
</div>