<div id="storeContainer" style="display: none;">
    <div class="container">
        <div class="header">
            <h1 class="m-0">Tienda</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center banner">
                    <div class="card-body">
                      <h1 class="text-uppercase">¡Los rangos están en descuento!</h1>
                      <p class="card-text">Compre ahora con precio reducido, y disfrute de un montón de ventajas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">  
                <div class="card shop-item">
                    <div class="card-body m-auto">
                        <h5 class="card-title m-0">Decoraciones para el hogar</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shop-item">
                    <div class="card-body m-auto">
                        <h5 class="card-title m-0">Títulos</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">  
                <div class="card shop-item">
                    <div class="card-body m-auto">
                        <h5 class="card-title m-0">Auras y particulas</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shop-item">
                    <div class="card-body m-auto">
                        <h5 class="card-title m-0">Comandos</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shop-item">
                    <div class="card-body m-auto">
                        <h5 class="card-title m-0">Vestimenta</h5>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center">Más vendido</h2>
        <div class="card-columns mt-3">
            <div class="card card-item text-center">
                <div class="card-body background-success">
                    <h5 class="card-title m-0">Aspecto Dracónico</h5>
                    <p class="badge badge-warning my-1">Aspecto épico | 150ARS</p>
                    <p class="card-text text-dark">Con este traje podrás ser la envidia de todos tus amigos, porque ademas de verte genial, tendrás un aura que siempre estará contigo.</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body background-success">
                    <h5 class="card-title m-0">Título de "Mata Withers"</h5>
                    <p class="badge badge-warning my-1">Aspecto raro | 30ARS</p>
                    <p class="card-text text-dark">Muestrale al mundo lo tanto que amas matar Withers con este título... Y probablemente debas ponerte una cabeza de Wither mientras lo usas.</p>
                </div>
            </div>
        </div>
    </div>
<script src="./assets/js/scripts/store.js"></script>
</div>